@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.opensans {
  font-family: "Open Sans", sans-serif;
}
body{
    background-color: gainsboro;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 3px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding: 15px;
    background-color: white; 
}
h1{
    color: orangered;
    font-family: "Open Sans", sans-serif;
    font-weight: bolder;
}
h2, h3, p{
    font-family: "Open Sans", sans-serif;
    color: grey;
}
#img{
    border-radius: 100%;
    border: 4px solid gainsboro;
}
.block{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
li {
    text-transform: none;
}